dashboard.json
[
    {
        "id": "d2261a74.9ce908",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d9240f50.c608",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "af146289.002f5",
        "type": "ui_group",
        "z": "",
        "name": "Room 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dab2fff7.f5852",
        "type": "ui_group",
        "z": "",
        "name": "Room 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "942460c.19894a",
        "type": "ui_group",
        "z": "",
        "name": "Thermostat",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bb8be2b4.10532",
        "type": "ui_group",
        "z": "",
        "name": "Group 1o",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4635164d.682708",
        "type": "ui_group",
        "z": "",
        "name": "Room1",
        "tab": "9cb2e979.4fd6a8",
        "order": null,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9cb2e979.4fd6a8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8cb2cd84.60682",
        "type": "ui_group",
        "z": "",
        "name": "Room 2",
        "tab": "9cb2e979.4fd6a8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f77e0766.b8a0f8",
        "type": "ui_group",
        "z": "",
        "name": "General",
        "tab": "9cb2e979.4fd6a8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "19483b70.615d05",
        "type": "ui_group",
        "z": "",
        "name": "Average Temperature",
        "tab": "9cb2e979.4fd6a8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c4b8f8b7.dd1568",
        "type": "ui_group",
        "z": "",
        "name": "Room 3",
        "tab": "9cb2e979.4fd6a8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cce742b8.d5268",
        "type": "ui_group",
        "z": "",
        "name": "Room 4",
        "tab": "9cb2e979.4fd6a8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "36875a58.80f5b6",
        "type": "mqtt-broker",
        "z": "",
        "name": "Thingspeak",
        "broker": "mqtt.thingspeak.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fe1a9e72.3b03f",
        "type": "inject",
        "z": "d2261a74.9ce908",
        "name": "",
        "topic": "",
        "payload": "coap://[aaaa::212:7402:2:202]",
        "payloadType": "str",
        "repeat": "1800",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 101,
        "y": 636,
        "wires": [
            [
                "1e61a228.c0c03e",
                "4270098c.12c0f8",
                "d18d01c0.b2ef5",
                "457f9dd.2c7cc64"
            ]
        ]
    },
    {
        "id": "d6be8341.e5bea",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "AC",
        "func": "var newMsg = { payload: msg.payload.ac,topic:msg.topic };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 140,
        "wires": [
            [
                "f16884f4.4696a8"
            ]
        ]
    },
    {
        "id": "33810a42.15bdb6",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "Heater",
        "func": "var newMsg = { payload: msg.payload.heater,topic:msg.topic };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 180,
        "wires": [
            [
                "c59b1fc4.d47c3"
            ]
        ]
    },
    {
        "id": "73fcaf6a.2b7c6",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "Ventilation",
        "func": "var newMsg = { payload: msg.payload.vent};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 220,
        "wires": [
            [
                "f4b27a05.5b7688"
            ]
        ]
    },
    {
        "id": "8423d80e.54adc8",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "SetRequest",
        "func": "var url = flow.get(\"address1\");\nvar mode = msg.payload ? \"on\" : \"off\"\nvar newMsg = { payload: \"mode=\" + mode,method:\"POST\", url:url + \"/set?device=\" + msg.topic };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1570,
        "y": 180,
        "wires": [
            [
                "f1335eed.0a5d1"
            ]
        ]
    },
    {
        "id": "ab11b5bc.570228",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "SetIP",
        "func": "flow.set(\"address1\", msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "54759dcd.edadf4",
                "9a9add0e.3b098"
            ]
        ]
    },
    {
        "id": "f55b79f8.f0f048",
        "type": "switch",
        "z": "d2261a74.9ce908",
        "name": "SuccessfulSetRequest",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1198,
        "y": 37,
        "wires": [
            [
                "1b88bb84.d58844",
                "54759dcd.edadf4"
            ]
        ]
    },
    {
        "id": "54759dcd.edadf4",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "StatusRequest",
        "func": "var url = flow.get(\"address1\");\nvar newMsg = { payload: undefined, url:url + \"/status\" };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 180,
        "wires": [
            [
                "8708022c.5dc2c"
            ]
        ]
    },
    {
        "id": "9a9add0e.3b098",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "TemperatureRequest",
        "func": "var url = flow.get(\"address1\");\nvar newMsg = { payload: undefined, url:url + \"/temperature\" };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 280,
        "wires": [
            [
                "48059cdf.a4fa34"
            ]
        ]
    },
    {
        "id": "1cd09ba5.62a7c4",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "Temperature",
        "func": "var newMsg = { payload: msg.payload.temperature, topic:1};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1570,
        "y": 280,
        "wires": [
            [
                "fad149a4.5668b8",
                "3d9f1ed.5d4d9e2"
            ]
        ]
    },
    {
        "id": "891a1a1f.172508",
        "type": "json",
        "z": "d2261a74.9ce908",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1410,
        "y": 280,
        "wires": [
            [
                "1cd09ba5.62a7c4"
            ]
        ]
    },
    {
        "id": "c70bfb1.b2b3208",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "AC",
        "func": "var newMsg = { payload: msg.payload.ac,topic:msg.topic };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 680,
        "wires": [
            [
                "310eb0bb.39c21"
            ]
        ]
    },
    {
        "id": "cb867f95.1d9ef",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "Heater",
        "func": "var newMsg = { payload: msg.payload.heater,topic:msg.topic };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 720,
        "wires": [
            [
                "d825262.eb054d8"
            ]
        ]
    },
    {
        "id": "d3cbd096.bbb92",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "Ventilation",
        "func": "var newMsg = { payload: msg.payload.vent};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 760,
        "wires": [
            [
                "530a212a.c9d5b"
            ]
        ]
    },
    {
        "id": "b6db238b.2fd22",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "SetRequest",
        "func": "var url = flow.get(\"address2\");\nvar mode = msg.payload ? \"on\" : \"off\"\nvar newMsg = { payload: \"mode=\" + mode,method:\"POST\", url:url + \"/set?device=\" + msg.topic };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1490,
        "y": 720,
        "wires": [
            [
                "a0639c41.a3f7b"
            ]
        ]
    },
    {
        "id": "be848550.b9df48",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "SetIP",
        "func": "flow.set(\"address2\", msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 820,
        "wires": [
            [
                "bdd89095.ca496",
                "80254557.3e5898"
            ]
        ]
    },
    {
        "id": "ecb3fd34.bd0d4",
        "type": "switch",
        "z": "d2261a74.9ce908",
        "name": "SuccessfulSetRequest",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 521,
        "y": 588,
        "wires": [
            [
                "f1919018.7cdaa",
                "bdd89095.ca496"
            ]
        ]
    },
    {
        "id": "bdd89095.ca496",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "StatusRequest",
        "func": "var url = flow.get(\"address2\");\nvar newMsg = { payload: undefined, url:url + \"/status\" };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 720,
        "wires": [
            [
                "e521f4e1.f15d38"
            ]
        ]
    },
    {
        "id": "80254557.3e5898",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "TemperatureRequest",
        "func": "var url = flow.get(\"address2\");\nvar newMsg = { payload: undefined, url:url + \"/temperature\" };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 820,
        "wires": [
            [
                "96a2fea1.d7886"
            ]
        ]
    },
    {
        "id": "58b10acb.40d294",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "Temperature",
        "func": "var newMsg = { payload: msg.payload.temperature, topic:2};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1490,
        "y": 820,
        "wires": [
            [
                "61be0564.c7445c",
                "ed83561f.879e88"
            ]
        ]
    },
    {
        "id": "4d34db9.8a09a24",
        "type": "json",
        "z": "d2261a74.9ce908",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1330,
        "y": 820,
        "wires": [
            [
                "58b10acb.40d294"
            ]
        ]
    },
    {
        "id": "9b55bca3.4286",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "AC",
        "func": "var newMsg = { payload: msg.payload.ac,topic:msg.topic };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1120,
        "wires": [
            [
                "79d44b9e.567044"
            ]
        ]
    },
    {
        "id": "369064bf.47793c",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "Heater",
        "func": "var newMsg = { payload: msg.payload.heater,topic:msg.topic };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1160,
        "wires": [
            [
                "f2fae821.03e208"
            ]
        ]
    },
    {
        "id": "ffee9313.ed6ce",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "Ventilation",
        "func": "var newMsg = { payload: msg.payload.vent};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 1200,
        "wires": [
            [
                "4088610a.8496f"
            ]
        ]
    },
    {
        "id": "78ffa433.2fff7c",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "SetRequest",
        "func": "var url = flow.get(\"address3\");\nvar mode = msg.payload ? \"on\" : \"off\"\nvar newMsg = { payload: \"mode=\" + mode,method:\"POST\", url:url + \"/set?device=\" + msg.topic };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1490,
        "y": 1160,
        "wires": [
            [
                "9e457842.a96628"
            ]
        ]
    },
    {
        "id": "6e693d12.38bb04",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "SetIP",
        "func": "flow.set(\"address3\", msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1260,
        "wires": [
            [
                "79e7031.ba8c6fc",
                "e745093e.6cb878"
            ]
        ]
    },
    {
        "id": "2f0dce3b.4a4f92",
        "type": "switch",
        "z": "d2261a74.9ce908",
        "name": "SuccessfulSetRequest",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 328,
        "y": 1097,
        "wires": [
            [
                "98d678e6.057618",
                "79e7031.ba8c6fc"
            ]
        ]
    },
    {
        "id": "79e7031.ba8c6fc",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "StatusRequest",
        "func": "var url = flow.get(\"address3\");\nvar newMsg = { payload: undefined, url:url + \"/status\" };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 1162,
        "wires": [
            [
                "b3ef7fdf.663db"
            ]
        ]
    },
    {
        "id": "e745093e.6cb878",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "TemperatureRequest",
        "func": "var url = flow.get(\"address3\");\nvar newMsg = { payload: undefined, url:url + \"/temperature\" };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 1260,
        "wires": [
            [
                "7ff2bbf9.41c1e4"
            ]
        ]
    },
    {
        "id": "5e84557d.6033ec",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "Temperature",
        "func": "var newMsg = { payload: msg.payload.temperature, topic:3};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1490,
        "y": 1260,
        "wires": [
            [
                "600dd159.df029",
                "69a4cb89.4a4994"
            ]
        ]
    },
    {
        "id": "7eb6c58f.70d3ac",
        "type": "json",
        "z": "d2261a74.9ce908",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1330,
        "y": 1260,
        "wires": [
            [
                "5e84557d.6033ec"
            ]
        ]
    },
    {
        "id": "2d6becc6.3dee64",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "AC",
        "func": "var newMsg = { payload: msg.payload.ac,topic:msg.topic };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1580,
        "wires": [
            [
                "546fda63.7cb254"
            ]
        ]
    },
    {
        "id": "1771debe.d03b51",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "Heater",
        "func": "var newMsg = { payload: msg.payload.heater,topic:msg.topic };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1620,
        "wires": [
            [
                "64e9c03c.76aa6"
            ]
        ]
    },
    {
        "id": "32dfeb47.5bfe04",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "Ventilation",
        "func": "var newMsg = { payload: msg.payload.vent};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 1660,
        "wires": [
            [
                "86e913eb.5b803"
            ]
        ]
    },
    {
        "id": "11d32647.b82b3a",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "SetRequest",
        "func": "var url = flow.get(\"address4\");\nvar mode = msg.payload ? \"on\" : \"off\"\nvar newMsg = { payload: \"mode=\" + mode,method:\"POST\", url:url + \"/set?device=\" + msg.topic };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1490,
        "y": 1620,
        "wires": [
            [
                "682b69.bcab7498"
            ]
        ]
    },
    {
        "id": "e50ea40.c98ea6",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "SetIP",
        "func": "flow.set(\"address4\", msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1720,
        "wires": [
            [
                "2ee7ffe0.79247",
                "79158299.796e4c"
            ]
        ]
    },
    {
        "id": "a75b83b0.81125",
        "type": "switch",
        "z": "d2261a74.9ce908",
        "name": "SuccessfulSetRequest",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "error",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 485,
        "y": 1489,
        "wires": [
            [
                "2d099f68.32c68",
                "2ee7ffe0.79247"
            ],
            []
        ]
    },
    {
        "id": "2ee7ffe0.79247",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "StatusRequest",
        "func": "var url = flow.get(\"address4\");\nvar newMsg = { payload: undefined, url:url + \"/status\" };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 1620,
        "wires": [
            [
                "1bb1bc77.eac744"
            ]
        ]
    },
    {
        "id": "79158299.796e4c",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "TemperatureRequest",
        "func": "var url = flow.get(\"address4\");\nvar newMsg = { payload: undefined, url:url + \"/temperature\" };\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 1720,
        "wires": [
            [
                "1b8b2612.843e7a"
            ]
        ]
    },
    {
        "id": "c1f5c92c.4d4948",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "Temperature",
        "func": "var newMsg = { payload: msg.payload.temperature, topic:4};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1490,
        "y": 1720,
        "wires": [
            [
                "dab8bf68.64464",
                "5e10c38c.14bcbc"
            ]
        ]
    },
    {
        "id": "72908d95.6ea434",
        "type": "json",
        "z": "d2261a74.9ce908",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1330,
        "y": 1720,
        "wires": [
            [
                "c1f5c92c.4d4948"
            ]
        ]
    },
    {
        "id": "a239ed1a.74f44",
        "type": "ui_text",
        "z": "d2261a74.9ce908",
        "group": "4635164d.682708",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Address:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 619,
        "y": 378,
        "wires": []
    },
    {
        "id": "c863a380.af9f1",
        "type": "ui_text",
        "z": "d2261a74.9ce908",
        "group": "8cb2cd84.60682",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Address:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 707,
        "y": 939,
        "wires": []
    },
    {
        "id": "5c584496.41557c",
        "type": "ui_text",
        "z": "d2261a74.9ce908",
        "group": "c4b8f8b7.dd1568",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Address:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 603,
        "y": 1333,
        "wires": []
    },
    {
        "id": "711f60dd.c8276",
        "type": "ui_text",
        "z": "d2261a74.9ce908",
        "group": "cce742b8.d5268",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Address:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 598,
        "y": 1798,
        "wires": []
    },
    {
        "id": "fad149a4.5668b8",
        "type": "ui_gauge",
        "z": "d2261a74.9ce908",
        "name": "",
        "group": "4635164d.682708",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "Degrees",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#3200b5",
            "#00e61e",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "x": 1770,
        "y": 280,
        "wires": []
    },
    {
        "id": "61be0564.c7445c",
        "type": "ui_gauge",
        "z": "d2261a74.9ce908",
        "name": "",
        "group": "8cb2cd84.60682",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "Degrees",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#3200b5",
            "#00e61e",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "x": 1690,
        "y": 820,
        "wires": []
    },
    {
        "id": "600dd159.df029",
        "type": "ui_gauge",
        "z": "d2261a74.9ce908",
        "name": "",
        "group": "c4b8f8b7.dd1568",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "Degrees",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#3200b5",
            "#00e61e",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "x": 1690,
        "y": 1260,
        "wires": []
    },
    {
        "id": "dab8bf68.64464",
        "type": "ui_gauge",
        "z": "d2261a74.9ce908",
        "name": "",
        "group": "cce742b8.d5268",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "Degrees",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#3200b5",
            "#00e61e",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "x": 1690,
        "y": 1720,
        "wires": []
    },
    {
        "id": "f16884f4.4696a8",
        "type": "ui_switch",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "AirCon",
        "tooltip": "",
        "group": "4635164d.682708",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ac",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1350,
        "y": 140,
        "wires": [
            [
                "8423d80e.54adc8"
            ]
        ]
    },
    {
        "id": "c59b1fc4.d47c3",
        "type": "ui_switch",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "Heater",
        "tooltip": "",
        "group": "4635164d.682708",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "heater",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1350,
        "y": 180,
        "wires": [
            [
                "8423d80e.54adc8"
            ]
        ]
    },
    {
        "id": "f4b27a05.5b7688",
        "type": "ui_switch",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "Ventilation",
        "tooltip": "",
        "group": "4635164d.682708",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ventilation",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1370,
        "y": 220,
        "wires": [
            [
                "8423d80e.54adc8"
            ]
        ]
    },
    {
        "id": "310eb0bb.39c21",
        "type": "ui_switch",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "AirCon",
        "tooltip": "",
        "group": "8cb2cd84.60682",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ac",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1270,
        "y": 680,
        "wires": [
            [
                "b6db238b.2fd22"
            ]
        ]
    },
    {
        "id": "d825262.eb054d8",
        "type": "ui_switch",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "Heater",
        "tooltip": "",
        "group": "8cb2cd84.60682",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "heater",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1270,
        "y": 720,
        "wires": [
            [
                "b6db238b.2fd22"
            ]
        ]
    },
    {
        "id": "530a212a.c9d5b",
        "type": "ui_switch",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "Ventilation",
        "tooltip": "",
        "group": "8cb2cd84.60682",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ventilation",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1290,
        "y": 760,
        "wires": [
            [
                "b6db238b.2fd22"
            ]
        ]
    },
    {
        "id": "79d44b9e.567044",
        "type": "ui_switch",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "AirCon",
        "tooltip": "",
        "group": "c4b8f8b7.dd1568",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ac",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1270,
        "y": 1120,
        "wires": [
            [
                "78ffa433.2fff7c"
            ]
        ]
    },
    {
        "id": "f2fae821.03e208",
        "type": "ui_switch",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "Heater",
        "tooltip": "",
        "group": "c4b8f8b7.dd1568",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "heater",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1270,
        "y": 1160,
        "wires": [
            [
                "78ffa433.2fff7c"
            ]
        ]
    },
    {
        "id": "4088610a.8496f",
        "type": "ui_switch",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "Ventilation",
        "tooltip": "",
        "group": "c4b8f8b7.dd1568",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ventilation",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1290,
        "y": 1200,
        "wires": [
            [
                "78ffa433.2fff7c"
            ]
        ]
    },
    {
        "id": "546fda63.7cb254",
        "type": "ui_switch",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "AirCon",
        "tooltip": "",
        "group": "cce742b8.d5268",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ac",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1270,
        "y": 1580,
        "wires": [
            [
                "11d32647.b82b3a"
            ]
        ]
    },
    {
        "id": "64e9c03c.76aa6",
        "type": "ui_switch",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "Heater",
        "tooltip": "",
        "group": "cce742b8.d5268",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "heater",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1270,
        "y": 1620,
        "wires": [
            [
                "11d32647.b82b3a"
            ]
        ]
    },
    {
        "id": "86e913eb.5b803",
        "type": "ui_switch",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "Ventilation",
        "tooltip": "",
        "group": "cce742b8.d5268",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ventilation",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1290,
        "y": 1660,
        "wires": [
            [
                "11d32647.b82b3a"
            ]
        ]
    },
    {
        "id": "d52bd6d0.c86698",
        "type": "ui_switch",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "Heater",
        "tooltip": "",
        "group": "f77e0766.b8a0f8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "heater",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2421,
        "y": 103,
        "wires": [
            [
                "11442602.49856a"
            ]
        ]
    },
    {
        "id": "d863a985.a31a38",
        "type": "ui_switch",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "Ventilation",
        "tooltip": "",
        "group": "f77e0766.b8a0f8",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ventilation",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2352,
        "y": 279,
        "wires": [
            [
                "c3a38bf0.b344b8"
            ]
        ]
    },
    {
        "id": "a5b3802c.a841e",
        "type": "ui_switch",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "AirCon",
        "tooltip": "",
        "group": "f77e0766.b8a0f8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ac",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 2371,
        "y": 198,
        "wires": [
            [
                "546fda63.7cb254",
                "79d44b9e.567044",
                "310eb0bb.39c21",
                "f16884f4.4696a8"
            ]
        ]
    },
    {
        "id": "6bf68ace.11ef84",
        "type": "ui_chart",
        "z": "d2261a74.9ce908",
        "name": "",
        "group": "19483b70.615d05",
        "order": 10,
        "width": "6",
        "height": "4",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 2723,
        "y": 926,
        "wires": [
            []
        ]
    },
    {
        "id": "8708022c.5dc2c",
        "type": "coap request",
        "z": "d2261a74.9ce908",
        "method": "GET",
        "observe": false,
        "url": "",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "GetStatus",
        "x": 900,
        "y": 180,
        "wires": [
            [
                "d6be8341.e5bea",
                "33810a42.15bdb6",
                "73fcaf6a.2b7c6"
            ]
        ]
    },
    {
        "id": "f1335eed.0a5d1",
        "type": "coap request",
        "z": "d2261a74.9ce908",
        "method": "POST",
        "observe": false,
        "url": "",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "SetDevice",
        "x": 1750,
        "y": 180,
        "wires": [
            [
                "f55b79f8.f0f048"
            ]
        ],
        "outputLabels": [
            "a"
        ]
    },
    {
        "id": "48059cdf.a4fa34",
        "type": "coap request",
        "z": "d2261a74.9ce908",
        "method": "GET",
        "observe": true,
        "url": "",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "GetTemperature",
        "x": 1210,
        "y": 280,
        "wires": [
            [
                "891a1a1f.172508"
            ]
        ]
    },
    {
        "id": "e521f4e1.f15d38",
        "type": "coap request",
        "z": "d2261a74.9ce908",
        "method": "GET",
        "observe": false,
        "url": "",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "GetStatus",
        "x": 820,
        "y": 720,
        "wires": [
            [
                "c70bfb1.b2b3208",
                "cb867f95.1d9ef",
                "d3cbd096.bbb92"
            ]
        ]
    },
    {
        "id": "a0639c41.a3f7b",
        "type": "coap request",
        "z": "d2261a74.9ce908",
        "method": "POST",
        "observe": false,
        "url": "",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "SetDevice",
        "x": 1670,
        "y": 720,
        "wires": [
            [
                "ecb3fd34.bd0d4"
            ]
        ],
        "outputLabels": [
            "a"
        ]
    },
    {
        "id": "96a2fea1.d7886",
        "type": "coap request",
        "z": "d2261a74.9ce908",
        "method": "GET",
        "observe": true,
        "url": "",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "GetTemperature",
        "x": 1130,
        "y": 820,
        "wires": [
            [
                "4d34db9.8a09a24"
            ]
        ]
    },
    {
        "id": "b3ef7fdf.663db",
        "type": "coap request",
        "z": "d2261a74.9ce908",
        "method": "GET",
        "observe": false,
        "url": "",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "GetStatus",
        "x": 820,
        "y": 1160,
        "wires": [
            [
                "9b55bca3.4286",
                "369064bf.47793c",
                "ffee9313.ed6ce"
            ]
        ]
    },
    {
        "id": "9e457842.a96628",
        "type": "coap request",
        "z": "d2261a74.9ce908",
        "method": "POST",
        "observe": false,
        "url": "",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "SetDevice",
        "x": 1670,
        "y": 1160,
        "wires": [
            [
                "2f0dce3b.4a4f92"
            ]
        ],
        "outputLabels": [
            "a"
        ]
    },
    {
        "id": "7ff2bbf9.41c1e4",
        "type": "coap request",
        "z": "d2261a74.9ce908",
        "method": "GET",
        "observe": true,
        "url": "",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "GetTemperature",
        "x": 1130,
        "y": 1260,
        "wires": [
            [
                "7eb6c58f.70d3ac"
            ]
        ]
    },
    {
        "id": "1bb1bc77.eac744",
        "type": "coap request",
        "z": "d2261a74.9ce908",
        "method": "GET",
        "observe": false,
        "url": "",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "GetStatus",
        "x": 820,
        "y": 1620,
        "wires": [
            [
                "2d6becc6.3dee64",
                "1771debe.d03b51",
                "32dfeb47.5bfe04"
            ]
        ]
    },
    {
        "id": "682b69.bcab7498",
        "type": "coap request",
        "z": "d2261a74.9ce908",
        "method": "POST",
        "observe": false,
        "url": "",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "SetDevice",
        "x": 1705,
        "y": 1620,
        "wires": [
            [
                "a75b83b0.81125"
            ]
        ],
        "outputLabels": [
            "a"
        ]
    },
    {
        "id": "1b8b2612.843e7a",
        "type": "coap request",
        "z": "d2261a74.9ce908",
        "method": "GET",
        "observe": true,
        "url": "",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "GetTemperature",
        "x": 1130,
        "y": 1720,
        "wires": [
            [
                "72908d95.6ea434"
            ]
        ]
    },
    {
        "id": "1b88bb84.d58844",
        "type": "ui_toast",
        "z": "d2261a74.9ce908",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 1: Can’t have heater & ac turned on togheter!",
        "name": "",
        "x": 1476,
        "y": 36,
        "wires": []
    },
    {
        "id": "f1919018.7cdaa",
        "type": "ui_toast",
        "z": "d2261a74.9ce908",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 2: Can’t have heater & ac turned on togheter!",
        "name": "",
        "x": 782,
        "y": 536,
        "wires": []
    },
    {
        "id": "98d678e6.057618",
        "type": "ui_toast",
        "z": "d2261a74.9ce908",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 3: Can’t have Heater & AC turned on together!!",
        "name": "",
        "x": 605,
        "y": 1095,
        "wires": []
    },
    {
        "id": "2d099f68.32c68",
        "type": "ui_toast",
        "z": "d2261a74.9ce908",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Room 4: Can’t have heater & ac turned on togheter!",
        "name": "",
        "x": 766,
        "y": 1484,
        "wires": []
    },
    {
        "id": "11442602.49856a",
        "type": "delay",
        "z": "d2261a74.9ce908",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2637.888916015625,
        "y": 102.11111450195312,
        "wires": [
            [
                "c59b1fc4.d47c3",
                "d825262.eb054d8",
                "f2fae821.03e208",
                "64e9c03c.76aa6"
            ]
        ]
    },
    {
        "id": "c3a38bf0.b344b8",
        "type": "delay",
        "z": "d2261a74.9ce908",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2662,
        "y": 274,
        "wires": [
            [
                "86e913eb.5b803",
                "4088610a.8496f",
                "530a212a.c9d5b",
                "f4b27a05.5b7688"
            ]
        ]
    },
    {
        "id": "8fad27aa.1253c8",
        "type": "ui_slider",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "Min Temperature",
        "tooltip": "",
        "group": "f77e0766.b8a0f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "-10",
        "max": 10,
        "step": 1,
        "x": 2620,
        "y": 1436,
        "wires": [
            [
                "539bf0f5.1e454",
                "1e93f7d0.0ad098"
            ]
        ]
    },
    {
        "id": "e3160996.f2bb28",
        "type": "ui_slider",
        "z": "d2261a74.9ce908",
        "name": "",
        "label": "Max Temperature",
        "tooltip": "",
        "group": "f77e0766.b8a0f8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "20",
        "max": "40",
        "step": 1,
        "x": 2620,
        "y": 1486,
        "wires": [
            [
                "81cf16c9.047ed8",
                "790a4281.0c48cc"
            ]
        ]
    },
    {
        "id": "84004257.0996a",
        "type": "ui_text",
        "z": "d2261a74.9ce908",
        "group": "f77e0766.b8a0f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Average House Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2572,
        "y": 826,
        "wires": []
    },
    {
        "id": "cddb9a44.286308",
        "type": "switch",
        "z": "d2261a74.9ce908",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Temperature out of bounds!",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2616,
        "y": 1156,
        "wires": [
            [
                "bbfae897.2749a8"
            ]
        ],
        "outputLabels": [
            "output"
        ]
    },
    {
        "id": "539bf0f5.1e454",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "SaveMinTemp",
        "func": "flow.set(\"minTemp\", msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2880,
        "y": 1437,
        "wires": [
            []
        ]
    },
    {
        "id": "81cf16c9.047ed8",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "SaveMaxTemp",
        "func": "flow.set(\"maxTemp\", msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2877,
        "y": 1486,
        "wires": [
            []
        ]
    },
    {
        "id": "1e93f7d0.0ad098",
        "type": "ui_text",
        "z": "d2261a74.9ce908",
        "group": "f77e0766.b8a0f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Min Temp Threshold",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2829,
        "y": 1382,
        "wires": []
    },
    {
        "id": "790a4281.0c48cc",
        "type": "ui_text",
        "z": "d2261a74.9ce908",
        "group": "f77e0766.b8a0f8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Temp Threshold",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2822,
        "y": 1554,
        "wires": []
    },
    {
        "id": "e149fa05.66d588",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "EmailThresholdCheck",
        "func": "var min = flow.get(\"minTemp\");\nvar max = flow.get(\"maxTemp\");\nvar payload = false;\nif(msg.payload < min || msg.payload > max)\n    payload = \"Temperature out of bounds!\";\n\nvar newMsg = { payload: payload};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2400,
        "y": 1156,
        "wires": [
            [
                "cddb9a44.286308"
            ]
        ]
    },
    {
        "id": "bbfae897.2749a8",
        "type": "delay",
        "z": "d2261a74.9ce908",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 2798,
        "y": 1156,
        "wires": [
            [
                "f39ed18c.f7a8b",
                "7a0036fc.765108"
            ]
        ]
    },
    {
        "id": "f39ed18c.f7a8b",
        "type": "e-mail",
        "z": "d2261a74.9ce908",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "alessandro.pozone@hotmail.com",
        "dname": "",
        "x": 3062,
        "y": 1156,
        "wires": []
    },
    {
        "id": "7a0036fc.765108",
        "type": "ui_toast",
        "z": "d2261a74.9ce908",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Sending email allert! ",
        "name": "",
        "x": 3015,
        "y": 1106,
        "wires": []
    },
    {
        "id": "f1e6e1fc.8c70d",
        "type": "mqtt out",
        "z": "d2261a74.9ce908",
        "name": "",
        "topic": "channels/843342/publish/L8ZDGBMBDCUOUCDN",
        "qos": "0",
        "retain": "",
        "broker": "36875a58.80f5b6",
        "x": 2850,
        "y": 990,
        "wires": []
    },
    {
        "id": "f1ba0ddd.cc162",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "MQTTPayload",
        "func": "var newMsg = { payload: \"field1=\" + msg.payload};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2556,
        "y": 990,
        "wires": [
            [
                "f1e6e1fc.8c70d"
            ]
        ]
    },
    {
        "id": "d6949dae.7b012",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "MQTTPayload",
        "func": "var arr = msg.payload;\nvar text = \"\";\n\nfor (i = 0; i < arr.length; i++) {\n  text += \"field\" + (i + 1) + \"=\" + arr[i];\n  if( i + 1 < arr.length)\n    text+=\"&\";\n}\n\n\nvar newMsg = { payload: text};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2186,
        "y": 1610,
        "wires": [
            [
                "16d510dd.ea05ff"
            ]
        ]
    },
    {
        "id": "16d510dd.ea05ff",
        "type": "mqtt out",
        "z": "d2261a74.9ce908",
        "name": "",
        "topic": "channels/843656/publish/94ZWLL3JDSIQI0H5",
        "qos": "0",
        "retain": "",
        "broker": "36875a58.80f5b6",
        "x": 2495,
        "y": 1615,
        "wires": []
    },
    {
        "id": "2b4d4ee9.50cd32",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "ChartTitle",
        "func": "var newMsg = { payload: msg.payload, topic: \"AverageTemp\"};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2558,
        "y": 925,
        "wires": [
            [
                "6bf68ace.11ef84"
            ]
        ]
    },
    {
        "id": "1e61a228.c0c03e",
        "type": "ui_button",
        "z": "d2261a74.9ce908",
        "name": "",
        "group": "4635164d.682708",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Connect",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "coap://[aaaa::212:7402:2:202]",
        "payloadType": "str",
        "topic": "",
        "x": 226,
        "y": 285,
        "wires": [
            [
                "ab11b5bc.570228",
                "d9f942ee.05197"
            ]
        ]
    },
    {
        "id": "4270098c.12c0f8",
        "type": "ui_button",
        "z": "d2261a74.9ce908",
        "name": "",
        "group": "8cb2cd84.60682",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Connect",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "coap://[aaaa::212:7403:3:303]",
        "payloadType": "str",
        "topic": "",
        "x": 243,
        "y": 859,
        "wires": [
            [
                "be848550.b9df48",
                "fab29a61.c8ac58"
            ]
        ]
    },
    {
        "id": "d18d01c0.b2ef5",
        "type": "ui_button",
        "z": "d2261a74.9ce908",
        "name": "",
        "group": "c4b8f8b7.dd1568",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Connect",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "coap://[aaaa::212:7404:4:404]",
        "payloadType": "str",
        "topic": "",
        "x": 221,
        "y": 1294,
        "wires": [
            [
                "6e693d12.38bb04",
                "e2bb870e.875b28"
            ]
        ]
    },
    {
        "id": "457f9dd.2c7cc64",
        "type": "ui_button",
        "z": "d2261a74.9ce908",
        "name": "",
        "group": "cce742b8.d5268",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Connect",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "coap://[aaaa::212:7405:5:505]",
        "payloadType": "str",
        "topic": "",
        "x": 230,
        "y": 1755,
        "wires": [
            [
                "e50ea40.c98ea6",
                "d45723dc.992f3"
            ]
        ]
    },
    {
        "id": "fab29a61.c8ac58",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "CleanAddress",
        "func": "var newMsg = { payload: msg.payload.substring(8, 28)};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 512,
        "y": 908,
        "wires": [
            [
                "c863a380.af9f1"
            ]
        ]
    },
    {
        "id": "d9f942ee.05197",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "CleanAddress",
        "func": "var newMsg = { payload: msg.payload.substring(8, 28)};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 378,
        "wires": [
            [
                "a239ed1a.74f44"
            ]
        ]
    },
    {
        "id": "e2bb870e.875b28",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "CleanAddress",
        "func": "var newMsg = { payload: msg.payload.substring(8, 28)};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 429,
        "y": 1334,
        "wires": [
            [
                "5c584496.41557c"
            ]
        ]
    },
    {
        "id": "d45723dc.992f3",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "CleanAddress",
        "func": "var newMsg = { payload: msg.payload.substring(8, 28)};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 425,
        "y": 1797,
        "wires": [
            [
                "711f60dd.c8276"
            ]
        ]
    },
    {
        "id": "77dab021.91f36",
        "type": "mqtt in",
        "z": "d2261a74.9ce908",
        "name": "",
        "topic": "channels/843656/subscribe/fields/field1/SJ2293ER9EBEPNKH",
        "qos": "0",
        "datatype": "auto",
        "broker": "36875a58.80f5b6",
        "x": 2102,
        "y": 1864,
        "wires": [
            [
                "a33538d6.af2148"
            ]
        ]
    },
    {
        "id": "b49d5366.8d0a",
        "type": "ui_chart",
        "z": "d2261a74.9ce908",
        "name": "",
        "group": "4635164d.682708",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 2624,
        "y": 1864,
        "wires": [
            []
        ]
    },
    {
        "id": "a33538d6.af2148",
        "type": "json",
        "z": "d2261a74.9ce908",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2437,
        "y": 1864,
        "wires": [
            [
                "b49d5366.8d0a"
            ]
        ]
    },
    {
        "id": "3d9f1ed.5d4d9e2",
        "type": "batch",
        "z": "d2261a74.9ce908",
        "name": "TempData",
        "mode": "interval",
        "count": 10,
        "overlap": 0,
        "interval": "60",
        "allowEmptySequence": false,
        "topics": [
            {
                "topic": ""
            }
        ],
        "x": 1435,
        "y": 359,
        "wires": [
            [
                "88732659.a93cc8"
            ]
        ]
    },
    {
        "id": "88732659.a93cc8",
        "type": "join",
        "z": "d2261a74.9ce908",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1596,
        "y": 359,
        "wires": [
            [
                "b7714571.d58768"
            ]
        ]
    },
    {
        "id": "b7714571.d58768",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "ArrayAverage",
        "func": "var sum, avg = 0;\nvar arr = msg.payload;\n\nif (arr.length)\n{\n    sum = arr.reduce(function(a, b) { return a + b; });\n    avg = sum / arr.length;\n}\n\nvar newMsg = { payload:avg, topic:1};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1754,
        "y": 358,
        "wires": [
            [
                "1825310f.789c4f",
                "54279762.dbb528"
            ]
        ]
    },
    {
        "id": "ed83561f.879e88",
        "type": "batch",
        "z": "d2261a74.9ce908",
        "name": "TempData",
        "mode": "interval",
        "count": 10,
        "overlap": 0,
        "interval": "60",
        "allowEmptySequence": false,
        "topics": [
            {
                "topic": ""
            }
        ],
        "x": 1278,
        "y": 925,
        "wires": [
            [
                "39439ee3.e2dfa2"
            ]
        ]
    },
    {
        "id": "39439ee3.e2dfa2",
        "type": "join",
        "z": "d2261a74.9ce908",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1439,
        "y": 925,
        "wires": [
            [
                "94bef481.67ed28"
            ]
        ]
    },
    {
        "id": "94bef481.67ed28",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "ArrayAverage",
        "func": "var sum, avg = 0;\nvar arr = msg.payload;\n\nif (arr.length)\n{\n    sum = arr.reduce(function(a, b) { return a + b; });\n    avg = sum / arr.length;\n}\n\nvar newMsg = { payload:avg, topic:2};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1597,
        "y": 924,
        "wires": [
            [
                "1825310f.789c4f",
                "54279762.dbb528"
            ]
        ]
    },
    {
        "id": "69a4cb89.4a4994",
        "type": "batch",
        "z": "d2261a74.9ce908",
        "name": "TempData",
        "mode": "interval",
        "count": 10,
        "overlap": 0,
        "interval": "60",
        "allowEmptySequence": false,
        "topics": [
            {
                "topic": ""
            }
        ],
        "x": 1336,
        "y": 1355,
        "wires": [
            [
                "fbfe9e0d.cdc08"
            ]
        ]
    },
    {
        "id": "fbfe9e0d.cdc08",
        "type": "join",
        "z": "d2261a74.9ce908",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1497,
        "y": 1355,
        "wires": [
            [
                "b9a20258.369b8"
            ]
        ]
    },
    {
        "id": "b9a20258.369b8",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "ArrayAverage",
        "func": "var sum, avg = 0;\nvar arr = msg.payload;\n\nif (arr.length)\n{\n    sum = arr.reduce(function(a, b) { return a + b; });\n    avg = sum / arr.length;\n}\n\nvar newMsg = { payload:avg, topic:3};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1655,
        "y": 1354,
        "wires": [
            [
                "1825310f.789c4f",
                "54279762.dbb528"
            ]
        ]
    },
    {
        "id": "5e10c38c.14bcbc",
        "type": "batch",
        "z": "d2261a74.9ce908",
        "name": "TempData",
        "mode": "interval",
        "count": 10,
        "overlap": 0,
        "interval": "60",
        "allowEmptySequence": false,
        "topics": [
            {
                "topic": ""
            }
        ],
        "x": 1328,
        "y": 1844,
        "wires": [
            [
                "7b542a0f.232684"
            ]
        ]
    },
    {
        "id": "7b542a0f.232684",
        "type": "join",
        "z": "d2261a74.9ce908",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1489,
        "y": 1844,
        "wires": [
            [
                "fe13ebb6.b00d28"
            ]
        ]
    },
    {
        "id": "fe13ebb6.b00d28",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "ArrayAverage",
        "func": "var sum, avg = 0;\nvar arr = msg.payload;\n\nif (arr.length)\n{\n    sum = arr.reduce(function(a, b) { return a + b; });\n    avg = sum / arr.length;\n}\n\nvar newMsg = { payload:avg, topic:4};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1647,
        "y": 1843,
        "wires": [
            [
                "1825310f.789c4f",
                "54279762.dbb528"
            ]
        ]
    },
    {
        "id": "c7bdb1e6.d0775",
        "type": "ui_chart",
        "z": "d2261a74.9ce908",
        "name": "",
        "group": "8cb2cd84.60682",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 2622,
        "y": 1932,
        "wires": [
            []
        ]
    },
    {
        "id": "86876118.2a928",
        "type": "json",
        "z": "d2261a74.9ce908",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2435,
        "y": 1932,
        "wires": [
            [
                "c7bdb1e6.d0775"
            ]
        ]
    },
    {
        "id": "f2161966.67bc38",
        "type": "mqtt in",
        "z": "d2261a74.9ce908",
        "name": "",
        "topic": "channels/843656/subscribe/fields/field2/SJ2293ER9EBEPNKH",
        "qos": "0",
        "datatype": "auto",
        "broker": "36875a58.80f5b6",
        "x": 2100,
        "y": 1932,
        "wires": [
            [
                "86876118.2a928"
            ]
        ]
    },
    {
        "id": "b4722582.125cd8",
        "type": "ui_chart",
        "z": "d2261a74.9ce908",
        "name": "",
        "group": "c4b8f8b7.dd1568",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 2625,
        "y": 2011,
        "wires": [
            []
        ]
    },
    {
        "id": "a462abc4.6905c8",
        "type": "json",
        "z": "d2261a74.9ce908",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2438,
        "y": 2011,
        "wires": [
            [
                "b4722582.125cd8"
            ]
        ]
    },
    {
        "id": "d05a5980.c56568",
        "type": "mqtt in",
        "z": "d2261a74.9ce908",
        "name": "",
        "topic": "channels/843656/subscribe/fields/field3/SJ2293ER9EBEPNKH",
        "qos": "0",
        "datatype": "auto",
        "broker": "36875a58.80f5b6",
        "x": 2103,
        "y": 2011,
        "wires": [
            [
                "a462abc4.6905c8"
            ]
        ]
    },
    {
        "id": "ab4833bf.36af7",
        "type": "ui_chart",
        "z": "d2261a74.9ce908",
        "name": "",
        "group": "cce742b8.d5268",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 2626,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "248cd2c0.187d6e",
        "type": "json",
        "z": "d2261a74.9ce908",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2439,
        "y": 2080,
        "wires": [
            [
                "ab4833bf.36af7"
            ]
        ]
    },
    {
        "id": "fcab38e6.e290d8",
        "type": "mqtt in",
        "z": "d2261a74.9ce908",
        "name": "",
        "topic": "channels/843656/subscribe/fields/field4/SJ2293ER9EBEPNKH",
        "qos": "0",
        "datatype": "auto",
        "broker": "36875a58.80f5b6",
        "x": 2104,
        "y": 2080,
        "wires": [
            [
                "248cd2c0.187d6e"
            ]
        ]
    },
    {
        "id": "3f342d5f.983c82",
        "type": "debug",
        "z": "d2261a74.9ce908",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 2238,
        "y": 1493,
        "wires": []
    },
    {
        "id": "1825310f.789c4f",
        "type": "join",
        "z": "d2261a74.9ce908",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1997,
        "y": 1611,
        "wires": [
            [
                "d6949dae.7b012"
            ]
        ]
    },
    {
        "id": "54279762.dbb528",
        "type": "join",
        "z": "d2261a74.9ce908",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 2167,
        "y": 925,
        "wires": [
            [
                "eb19ee57.3f537"
            ]
        ]
    },
    {
        "id": "eb19ee57.3f537",
        "type": "function",
        "z": "d2261a74.9ce908",
        "name": "ArrayAverage",
        "func": "var sum, avg = 0;\nvar arr = msg.payload;\n\nif (arr.length)\n{\n    sum = arr.reduce(function(a, b) { return a + b; });\n    avg = sum / arr.length;\n}\n\nvar newMsg = { payload:avg, topic:2};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2344,
        "y": 924,
        "wires": [
            [
                "e149fa05.66d588",
                "f1ba0ddd.cc162",
                "2b4d4ee9.50cd32",
                "84004257.0996a",
                "3f342d5f.983c82"
            ]
        ]
    }
]