flows.json
[{"id":"e48311a6.c3e6c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"230cfeec.31838a","type":"coap request","z":"e48311a6.c3e6c","method":"GET","observe":false,"url":"","content-format":"application/json","raw-buffer":false,"name":"GetStatus","x":400,"y":380,"wires":[["897be718.0d3a58","ffe3c436.ccdc5","607b7630.c40b8"]]},{"id":"183536e5.f59289","type":"inject","z":"e48311a6.c3e6c","name":"","topic":"","payload":"coap://[aaaa::212:7402:2:202]:5683","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":580,"wires":[["d5f79231.dffce8","abd1ff48.d9143"]]},{"id":"ee2698c1.e1c5c8","type":"ui_switch","z":"e48311a6.c3e6c","name":"","label":"AirCon","tooltip":"","group":"5db8e2db.97805c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ac","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":850,"y":340,"wires":[["5e452eda.4cd9"]]},{"id":"897be718.0d3a58","type":"function","z":"e48311a6.c3e6c","name":"AC","func":"var newMsg = { payload: msg.payload.ac,topic:msg.topic };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":590,"y":340,"wires":[["ee2698c1.e1c5c8"]]},{"id":"d4c7cd4d.876a58","type":"ui_switch","z":"e48311a6.c3e6c","name":"","label":"Heater","tooltip":"","group":"5db8e2db.97805c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"heater","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":850,"y":380,"wires":[["5e452eda.4cd9"]]},{"id":"ffe3c436.ccdc5","type":"function","z":"e48311a6.c3e6c","name":"Heater","func":"var newMsg = { payload: msg.payload.heater,topic:msg.topic };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":590,"y":380,"wires":[["d4c7cd4d.876a58"]]},{"id":"85435649.a4ed28","type":"ui_switch","z":"e48311a6.c3e6c","name":"","label":"Ventilation","tooltip":"","group":"5db8e2db.97805c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ventilation","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":870,"y":420,"wires":[["5e452eda.4cd9"]]},{"id":"607b7630.c40b8","type":"function","z":"e48311a6.c3e6c","name":"Ventilation","func":"var newMsg = { payload: msg.payload.vent};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":610,"y":420,"wires":[["85435649.a4ed28"]]},{"id":"c6dfca74.409ec8","type":"coap request","z":"e48311a6.c3e6c","method":"POST","observe":false,"url":"","content-format":"text/plain","raw-buffer":false,"name":"SetDevice","x":1250,"y":380,"wires":[["a2e6167.8fa0ae8"]],"outputLabels":["a"]},{"id":"5e452eda.4cd9","type":"function","z":"e48311a6.c3e6c","name":"SetRequest","func":"var url = flow.get(\"address\");\nvar mode = msg.payload ? \"on\" : \"off\"\nvar newMsg = { payload: \"mode=\" + mode,method:\"POST\", url:url + \"/set?device=\" + msg.topic };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1070,"y":380,"wires":[["c6dfca74.409ec8"]]},{"id":"d5f79231.dffce8","type":"function","z":"e48311a6.c3e6c","name":"SetIP","func":"flow.set(\"address\", msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":130,"y":460,"wires":[["a1fe3371.022a08","e089001a.66b678"]]},{"id":"abd1ff48.d9143","type":"ui_text","z":"e48311a6.c3e6c","group":"5db8e2db.97805c","order":3,"width":0,"height":0,"name":"","label":"Address:","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":580,"wires":[]},{"id":"a2e6167.8fa0ae8","type":"switch","z":"e48311a6.c3e6c","name":"SuccessfulSetRequest","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":220,"wires":[["f0eee9d5.6c9448","a1fe3371.022a08"]]},{"id":"f0eee9d5.6c9448","type":"ui_toast","z":"e48311a6.c3e6c","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Can-t have heater & ac turned on togheter","name":"","x":910,"y":220,"wires":[]},{"id":"177fe3cf.a7be04","type":"ui_gauge","z":"e48311a6.c3e6c","name":"","group":"5db8e2db.97805c","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"Degrees","format":"{{value}}","min":"-10","max":"40","colors":["#3200b5","#00e61e","#ca3838"],"seg1":"15","seg2":"30","x":1270,"y":480,"wires":[]},{"id":"b865cf45.321a9","type":"coap request","z":"e48311a6.c3e6c","method":"GET","observe":true,"url":"","content-format":"application/json","raw-buffer":false,"name":"GetTemperature","x":710,"y":480,"wires":[["909f0d6d.6209d"]]},{"id":"a1fe3371.022a08","type":"function","z":"e48311a6.c3e6c","name":"StatusRequest","func":"var url = flow.get(\"address\");\nvar newMsg = { payload: undefined, url:url + \"/status\" };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":220,"y":380,"wires":[["230cfeec.31838a"]]},{"id":"e089001a.66b678","type":"function","z":"e48311a6.c3e6c","name":"TemperatureRequest","func":"var url = flow.get(\"address\");\nvar newMsg = { payload: undefined, url:url + \"/temperature\" };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":500,"y":480,"wires":[["b865cf45.321a9"]]},{"id":"936ad2bf.f0d1b","type":"function","z":"e48311a6.c3e6c","name":"Temperature","func":"var newMsg = { payload: msg.payload.temperature};\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1070,"y":480,"wires":[["177fe3cf.a7be04"]]},{"id":"909f0d6d.6209d","type":"json","z":"e48311a6.c3e6c","name":"","property":"payload","action":"","pretty":false,"x":910,"y":480,"wires":[["936ad2bf.f0d1b"]]},{"id":"5db8e2db.97805c","type":"ui_group","z":"","name":"Control Tersmostato","tab":"cbb232a0.b08168","order":1,"disp":true,"width":"6"},{"id":"cbb232a0.b08168","type":"ui_tab","z":"","name":"Termostato IOT","icon":"dashboard"}]